# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
airport-suitability

# Test binary
*.test

# Coverage
*.out
coverage.html

# Dependency directories
vendor/

# IDE / editor
.idea/
.vscode/
*.swp
*.swo
*~

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local

# Debug
__debug_bin*

release/1.0.0

notes.txt